# Created by https://www.toptal.com/developers/gitignore/api/python
# Edit at https://www.toptal.com/developers/gitignore?templates=python

.vscode/settings.json
.vscode/extensions.json
.secrets.baseline
.talismanrc
findings.json
gitleaks-report.json
.scannerwork/*
