# Created by https://www.toptal.com/developers/gitignore/api/python
# Edit at https://www.toptal.com/developers/gitignore?templates=python

.vscode/*
.secrets.baseline
.talismanrc
findings.json
gitleaks-report.json
